@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400&display=swap');

/* GENERAL SECTION */
:root{
    --primary-color: #93CB52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}
p{ margin: 0.75rem 0; }

/*UTILITY CLASSES*/
.container{
    max-width: 1100px;
    padding: 0 2rem;
    margin: 0 auto;
    overflow: auto;/*hidden or auto as per u*/
}
.bg-light{
    background: #F4F4F4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #FFF;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.px-1{ padding: 0 1.5rem; }
.px-2{ padding: 0 2rem; }
.px-3{ padding: 0 3rem; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }

.l-heading{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}
.m-heading{
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}

.lead{
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
.text-primary{ color: var(--primary-color); }

.text-center{ text-align: center; }

.btn{
    display: inline-block;
    color: #FFF;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;/*usefull with button tag*/
}
.btn-dark{ background: #333; }

.btn:hover{
    cursor: pointer;
    background: #69A129;
    transition: background .3s;
}
.list{
    margin: 0.75rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}
/*NAVBAR*/

#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1rem;
	opacity: 0.8;
}
#navbar:hover{
	 opacity: 1.0;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    color: #FFF;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: var(--primary-color);
    border-radius: 5px;
    transition: background .3s;
}


/*SHOWCASE SECTION*/
#showcase{
    background: #333 url('../images/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #FFF;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    
    /*Overlay*/
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.4);
}

/*SECTION: What We Do?*/
#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#what .items .item i{
    background: var(--primary-color);
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}
#what .items .item:hover{
    background: var(--primary-color);
    color: #F4F4F4;
    transition: background .3s, color .3s;
    cursor: pointer;
}
#what .items .item:hover i{
    background: #F4F4F4;
    color: var(--primary-color);
}

/*SECTION: Who Are We?*/
#who{
    display: flex;
}

#who>div{
    flex: 1;
}

#who .who-img{
    background: url('../images/people.jpg') no-repeat center center/cover;
}

/*Section: Our Clients*/
#clients .items{
    display: flex;
}


#clients .items img{
    display: block;
    width: 60%;
    margin: 0 auto;
}


/*Section: Contact*/
#contact{
    display: flex;
}
#contact .contact-form, #contact .map{
    flex: 1;
}

#contact .form-group{
    margin-bottom: 0.75rem;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form input, 
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}

/*Scrollbars*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0,0 ,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(147, 203, 82, 0.4);
}
::selection{
    background: rgba(147, 203, 82, 0.6);
}

/*Mobile Friendly Media Queries*/
@media(max-width: 550px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo{
        margin-bottom: 0.75rem;
    }
    #navbar ul{
        padding: 0.5rem;
    }
    .l-heading{
        font-size: 3rem;
    }
    .m-heading{
        font-size:  2rem;
    }
    .lead{
        font-size: 1.1rem;
    }
    
    #showcase .showcase-content{
        top: 115px;
    }
    
    #what .items{
        flex-direction: column;
    }
    
    #who{
        flex-direction: column-reverse;
    }
    #who>div{
        flex: none;
    }
    #who .who-img{
        height: 300px;
    }
    
    #clients .items>div:last-child{
        display: none;
    }
    
    #contact{
        flex-direction: column;
    }
    #contact .map, #contact .contact-form{
        flex: none;
    }
    #contact .map{
        height: 300px;
    }
}





















